* {
	margin:0;
	padding:0;
}

body {
	font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
	background-color:#999;
	color:#222;
}

header, section, nav, footer {
	display:block;
}

h2 {
	margin:12px 0;
	display:block;
}

hr {
	width:100%;
	height:1px;
	display:block;
	margin:12px 0;
	background-color:#222;
	border:0;
}

p {
	margin:12px 0;
}

nav {
	width:800px;
	max-width:860px;
	position:absolute;
	background-color:#a00;
	height:40px;
	margin:-30px;
	padding:0 30px;
}

nav ol {
	list-style:none;
}

nav ol li {
	float:left;
}

nav ol li a {
	padding:10px;
	color:white;
	float:left;
	display:block;
	font: bold 81.25% 'Helvetiva Neue', Helvetica, Arial, sans-serif;
}

div.logo {
	margin-top:20px;
	margin-left:-20px;
	width:100%;
	height:85px;
}

div.logo img {
	width:75px;
	float:left;
	margin-right:5px;
}

div.logo h1 {
	float:left;
	margin-top:25px;
}

section#content {
	width:800px;
	margin:0 auto;
	background-color:white;
  -moz-box-shadow: 0 0 1em #333;
  -webkit-box-shadow: 0 0 1em #333;
	box-shadow:0 0 1em #333;
	padding:30px;
	color:#202020;
	line-height:24px;
}

div.ribwrap {
	right:0;
	height:150px;
	overflow:hidden;
  position: absolute;
}

.ribbon {
  background-color: #a00;
  overflow: hidden;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-box-shadow: 0 0 1em #888;
  -webkit-box-shadow: 0 0 1em #888;
	position:relative;
	top:2.5em;
	right:-3em;
}

.ribbon a {
  border: 1px solid #faa;
  color: #fff;
  display: block;
  font: bold 81.25% 'Helvetiva Neue', Helvetica, Arial, sans-serif;
  margin: 0.05em 0 0.075em 0;
  padding: 0.5em 3.5em;
  text-align: center;
  text-decoration: none;
  /* shadow */
  text-shadow: 0 0 0.5em #444;
}

footer {
	background-color:#a00;
	margin:-30px;
	margin-top:30px;
	padding:10px 30px;
	color:white;
	font-size:80%;
}

footer a {
	color:white;
}

ol.in, ul.in {
	list-style-position:inside;
}

pre {
	font-size:12px;
	white-space:pre-wrap;
}

dl {
	display:block;
	margin:12px 0;
	width:100%;
	overflow:hidden;
}

dl dt, dl dd {
	float:left;
	display:block;
}

dl dt {
	width:20%;
	font-weight:bold;
}

dl dd {
	clear:right;
	width:80%;
}

div.crumbs {
	font-size:80%;
}
